section {
	padding-top: 100px;

}

h1 {
	text-align: center;
}

.center {
	text-align: center;
}

#who {
	padding-bottom: 100px;
}

.navbar-brand {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.navbar-nav li a {
	line-height: 100px;
	height: 100px;
	padding: 20px auto;
	font-family: 'Limelight', cursive;
	font-size: 300%;
}

.navbar-brand {
	font-family: 'Limelight', cursive;
	font-size: 200%;
	color: white;
}

/*
body {
	padding: 100px;
}
*/

.brand {
	margin-left: auto;
	margin-right: auto;
}

.dona-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px !important;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.elbiino-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.jdizz-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.mikeymo-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

/*
.who {
	background: url(http://i.imgur.com/3mV99h7.jpg) no-repeat;
	background-size: contain;
}
*/

