/* Navbar */

.navbar-nav li a {
	line-height: 100px;
	height: 100px;
	padding: 20px auto;
	font-family: 'Limelight', cursive;
	font-size: 300%;
}

.navbar-brand {
	font-family: 'Limelight', cursive;
	font-size: 200%;
	color: white;
	line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.brand {
	margin-left: auto;
	margin-right: auto;
}

/* General elements */

body {
	background-color: #95a5a6;
}

section {
	padding-top: 100px;
	padding-bottom: 50px;
}

h1 {
	text-align: center;
}

/* Specific sections */ 

#who {
	padding-bottom: 100px;
}

#hello {
	background-color: black;
	color: #ecf0f1;
}

#what {
	background-color: #8e44ad;
	color: #ecf0f1;
}

#how {
	background-color: #16a085;
	color: #ecf0f1;
	text-align: center;
}

#why {
	background-color: #c0392b;
	color: #ecf0f1;
}

#who {
	background-color: #2c3e50;
	color: #ecf0f1;
	padding-left: 20px;
	padding-right: 20px;
}

/* Circle image borders */

.dona-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px !important;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.elbiino-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.jdizz-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.mikeymo-pic {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://placehold.it/250x250) no-repeat;
}

.static {
	background: url(http://i.imgur.com/3mV99h7.jpg) no-repeat; 
	background-position: center center;
}

.dead {
	background: url(http://i.imgur.com/pfEyuS0.jpg) no-repeat; 
	background-position: center center;
}

/*
.who {
	background: url(http://i.imgur.com/3mV99h7.jpg) no-repeat;
	background-size: contain;
}
*/

